.navbar {
  display: flex;
  gap: 1rem;
  background-color: #1976d2;
  padding: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

a.active {
  font-weight: bold;
  text-decoration: underline;
}
