<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>

<!-- <p>formulario works!</p>  -->

<div class="input-wrapper">
  <input class="input1" type="text" placeholder="Campo" />
  <i class="fas fa-user icon"></i>
</div>

<div class="input-wrapper error">
  <input class="input2" type="text" placeholder="Campo error" />
  <i class="fas fa-user icon"></i>
</div>

<div class="input-wrapper">
  <input class="input3" type="text" placeholder="Campo hover activo" />
  <i class="fas fa-user icon"></i>
</div>

<div class="input-wrapper">
  <input class="input4" type="text" placeholder="Campo deshabilitado" disabled />
  <i class="fas fa-user icon"></i>
</div>

<select class="select1">
  <option>Selecciona un campo</option>
</select>
<select class="select2">
  <option>Selecciona error</option>
</select>
<select class="select3">
  <option>Selecciona hover-activo</option>
</select>
<select class="select4" disabled>
  <option>Selecciona deshabilitado</option>
</select>
