<p>formulario works!</p>
<input class="input1" type="text" name="Campo" id="campo" placeholder="Campo" />
<input class="input2" type="text" name="Campo-error" id="campo-error" placeholder="Campor error" />
<input
  class="input3"
  type="text"
  name="Campo-hover"
  id="campo-hover"
  placeholder=" Campo hover activo"
/>
<input
  class="input4"
  type="text"
  name="Campo-deshabilitado"
  id="Campo-deshabilitado"
  placeholder="campo deshabilitado"
/>

<select class="select1" name="select-Campo" id="select-campo" placeholder="">
  <option value="">Selecciona un campo</option>
</select>

<select class="select2" name="select-error" id="select-error" placeholder="">
  <option value="">Selecciona error</option>
</select>
<select class="select3" name="select-hover" id="select-hover" placeholder="">
  <option value="">Selecciona hover-activo</option>
</select>
<select class="select4" name="select-deshabilitado" id="select-deshabilitado" placeholder="">
  <option value="">Selecciona deshabilitado</option>
</select>
