<ion-content class="ion-padding">
  <div class="header-container">
    <br />
    <br />
    <br />
    <br />
    <h1 class="title">Tus Notificaciones</h1>
    <p class="subtitle">Consulta o gestiona tus notificaciones aqui.</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let notif of reservas">
        <ion-card class="reserva-card" [class.is-read]="notif.leida"> </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let notif of reservas">
        <ion-card class="reserva-card">
          <div class="status-badge" [ngClass]="notif.tipo.toLowerCase()">
            {{ notif.tipo === 'NUEVA_RESERVA' ? 'Solicitud' : notif.tipo }}
          </div>

          <ion-card-header>
            <div class="user-info">
              <ion-icon name="notifications-outline" color="primary"></ion-icon>
              <ion-card-title>{{ notif.titulo }}</ion-card-title>
            </div>
            <ion-card-subtitle>
              <ion-icon name="time-outline"></ion-icon>
              {{ notif.fecha_creacion | date: 'dd/MM/yyyy HH:mm' }}
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <div class="mensaje-container">
              <p>{{ notif.mensaje }}</p>
            </div>

            <div class="actions">
              <ion-button
                expand="block"
                fill="solid"
                class="btn-detalles"
                (click)="verDetalles(notif)"
              >
                <ion-icon name="eye-outline" slot="start"></ion-icon>
                Ver Detalles
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="empty-state" *ngIf="reservas.length === 0">
    <ion-icon name="notifications-off-outline"></ion-icon>
    <p>No tienes solicitudes pendientes en este momento.</p>
  </div>
</ion-content>
