<ion-content class="ion-padding">
  <div class="login-container">
    <div class="login-card">
      <h2 class="login-title">Bienvenido</h2>
      <p class="login-subtitle">Gestiona tus reservas de garaje</p>

      <ion-item lines="none">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="credentials.username"
          name="username"
          placeholder="Ingresa tu nombre de usuario"
        ></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input
          type="password"
          [(ngModel)]="credentials.password"
          name="password"
          placeholder="********"
        ></ion-input>
      </ion-item>

      <ion-button expand="block" class="btn-login" (click)="onLogin()"> Iniciar Sesión </ion-button>
    </div>
  </div>
</ion-content>
